html {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-dark1);
  color: var(--color-white);
  overflow-x: hidden;
}

.App {
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

:root {
  /* add css variables here */
  --color-white: #dadada;
  --color-black: #131313;
  --color-dark1: #1b1b1b;
  --color-dark2: #252526;
  --color-main: #208080;
  --color-accent: #00b8ae;
  --color-pop: #f51546;
}

*, *::before, *::after {
  box-sizing: border-box;
}


/*
Main Page content starts here 
*/

.page {
  position:absolute;
  left: var(--sidebar-width);
  right: 0;
}

.page h1 {
  color: var(--color-pop);
}

#TestiSivu {
  height: 2000px;
  background: transparent url("http://localhost:3000/testt.svg") no-repeat center bottom;
}

.content {
  display: grid;
  place-items: start;
  padding: 1em 4em;
}

.header {
  display: grid;
  place-items: start center;
  height: min-content;
  text-transform: uppercase;
}

/*
navigation styles start here 
*/

.sideBar {
  display: block;
  position: fixed;
  background-color: var(--color-dark2);
  outline: 1px solid var(--color-black);
  width: var(--sidebar-width);
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 100;
  transition:
    outline 0.3s;
  font-size: var(--sidebar-itemsize);
}

.sideBar:hover {
  outline: 1px solid var(--color-accent);
}

.navList a {
  text-decoration: none;
}

.navItem {
  position: relative;
  color: var(--color-white);
  background-color: var();
  width: 100%;
  min-height: calc(var(--sidebar-itemsize) * 2);
  display: grid;
  place-content: center;
  line-height: 1;
}

.navItem img {
  max-width: var(--sidebar-itemsize);
}

.navItem:hover {
  background-color: var(--color-dark1);
}

.navItem::after {
  border: 1px solid transparent;
  max-width: calc(100vw - 5em);
  border-radius: 0 5px 5px 0;
  width: 0px;
  padding: 0 0.5em;
  word-wrap: anywhere;
}

.navItem:hover::after {
  content: attr(data-tool-tip);
  display: grid;
  place-content: center;
  background: linear-gradient(to right, var(--color-black), var(--color-dark1));
  position: absolute;
  border-top: 1px solid var(--color-pop);
  border-bottom: 1px solid var(--color-pop);
  border-left: 0px solid transparent;
  border-right: 1px solid var(--color-pop);
  width: max-content;
  min-height: 100%;
  left: var(--sidebar-width);
}


/*
Chart styles
*/

.label {
  margin-right: 0.5em;
}

.chartContent {
  background-color: var(--color-pop);
  display: inline-block;
  height: 1em;
  margin-right: 0;
}


/*
media styles
*/


@media screen and (min-width: 600px) {
  :root {
    --sidebar-width: 5vw;
    --sidebar-itemsize: 1.5em;
  }
}

@media screen and (max-width: 599px) {
  :root {
    --sidebar-width: 10vw;
    --sidebar-itemsize: 1em;
  }
}