html {
  width: 100vw;
  height: 100vh;
}

#root {  
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-dark1);
  color: var(--color-white);
  overflow-x: hidden;
}

body::-webkit-scrollbar{
  width: 10px;
  height: 10px;
  }

body::-webkit-scrollbar-thumb{
  background: var(--color-dark2);
  border: 1px solid var(--color-black);
  border-right: none;
  border-radius: 1em 0 0 1em;
  }

body::-webkit-scrollbar-thumb:hover{
  background: var(--color-dark2);
  }

body::-webkit-scrollbar-track{
  background: var(--color-black);
  outline: 1px solid var(--color-black);
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0px solid transparent;
  -webkit-text-fill-color: var(--color-accent2);
  -webkit-box-shadow: 0 0 0px 1000px var(--color-dark2) inset;
  transition: background-color 50000s ease-in-out 0s;
}

:root {
  /* add css variables here */
  --bar-thickness: 4em;
  --amount-of-slides: 4;
  --color-white: #dadada;
  --color-transparent-white: #dadadabb;
  --color-black: #131313;
  --color-transparent-black: #131313bb;
  --color-dark1: #1b1b1b;
  --color-transparent-dark1: #1b1b1b55;
  --color-dark2: #252526;
  --color-transparent-dark2: #25252655;
  --color-dark3: #2f2f31;
  --color-transparent-dark3: #2f2f3155;
  --color-main1: #208080;
  --color-transparent-main1: #20808055;
  --color-accent1: #00b8ae;
  --color-transparent-accent1: #00b8af55;
  --color-main2: #be0930;
  --color-transparent-main2: #be093055;
  --color-accent2: #f51546;
  --color-transparent-accent2: #f5154655;
  --clr-gradient1: linear-gradient(90deg, var(--color-main1), var(--color-accent1));
  --clr-gradient2: linear-gradient(90deg, var(--color-main2), var(--color-accent2));
}

*, *::before, *::after {
  box-sizing: border-box;
}


/* 
general styles
*/

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

:is(.tabFocus, button):focus-within {
  outline: 1px solid var(--color-white);
}

.row,
.row > * {
  margin: 0;
}

.line {
  margin: 0.75em auto;
  height: 0;
  width: calc(100% - 1em);
  border-bottom: 1px solid var(--color-transparent-white);
}

h1, .accent2text {
  color: var(--color-accent2);
}

h2, .accent1text {
  color: var(--color-accent1);
}

button {
  cursor: pointer;
  background-color: transparent;
  color: var(--color-white);
  border: 0px solid transparent;
  transition: color 0.3s ease-in-out;
  font-size: 1em;
}

button:hover {
  color: var(--color-accent1);
}

.clickable {
  cursor: pointer;
}

.arrow{
  display: grid;
  height: min-content;
  width: min-content;
  grid-template-rows: auto auto;
  place-items: center;
}

.arrow .tip {
  display: inline-block;
  border: 0.5em solid transparent;
  border-bottom: 0.5em solid var(--color-main2);
  border-top: none;
  height: 0;
}

.arrow .shaft {
  display: inline-block;
  border: 0.25em solid var(--color-main2);
  border-radius: 0 0 2px 2px;
  background: var(--color-main2);
  height: 0.5em;
  max-height: 2em;
}

.arrow > * {
  width: 0;
}

/*
CCM CustomContextMenu
*/

#CCMContainer {
  display: none;
  z-index: 111;
  position: absolute;
  top: 100px;
  left: 100px;
  padding: 1em 0;
  background: var(--color-dark1);
  box-shadow: 0 0 20px -5px var(--color-transparent-black);
  outline: 1px solid var(--color-black);
  border-radius: 0.5em;
}

.CCMItem {
  display: grid;
  padding: 0 2em 0 1em;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 20px;
  width: 100%;
  text-align: start;
}

.CCMItem a {
  display: none;
}
.CCMItem a.active {
  display: grid;
}

.CCMItem:hover {
  background: var(--color-transparent-accent2);
}

.CCMItem a {
  color: var(--color-white);
  text-decoration: none;
}

.CCMItem a:hover {
  color: var(--color-white);
}

.CCMDivider {
  display: block;
  position: relative;
  background: var(--color-dark3);
  width: 90%;
  left: 5%;
  height: 1px;
  margin: 0.5em 0;
}

/*
Games
*/

#Home {
  height: 100vh;
}

.banner {
  background: transparent  url("http://localhost:3000/background.jpg") no-repeat center;
  background-size: cover;
  position: absolute;
  inset: 0;
  height: inherit;
}

.bannerList {
  width: 100%;
  height: inherit;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.bannerListItem {
  height: inherit;
  padding: 0 0.5em 1em
}

.g1 .spacer {
  display: block;
  height: 25%;
  width: inherit;
}
.g2 .spacer {
  display: block;
  height: calc(var(--bar-thickness) *  1.5);
  width: inherit;
}
.g3 .spacer {
  display: block;
  height: 25%;
  width: inherit;
}

:is(.g1, .g3) .sticky {
  padding: 0 1em;
}

.sticky {
  position: sticky;
  top: 1em;
  margin: 1em 0;
}

.info {
  border-radius: 1em;
  padding: 1em 0.5em;
  display: grid;
  backdrop-filter: brightness(25%);
}

.shortcuts {
  display: grid;
  width: 20em;
  margin: 1em 0 1em auto;
  padding: 0 1em 1em;
  backdrop-filter: blur(5px) brightness(75%);
  background: var(--color-transparent-dark2);
  border-radius: 1em;
}

.shortcuts .header {
  height: 4em;
  place-content: center;
  text-align: center;
}


.shortcutGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill, 4em);
  outline: 1px solid var(--color-dark3);
  border-radius: 1em;
  gap: 1em;
  padding: 1em;
  min-height: 0;
  transition: min-height 0.2s;
}


.weather:first-child {
  display: grid;
}

.weather {
  display: none;
  grid-template-columns: 1fr 4em;
  grid-template-rows: auto 1fr auto;
  width: 23em;
  margin: 1em auto 1em 0;
  padding: 0 1em 1em;
  backdrop-filter: blur(5px) brightness(75%);
  background: var(--color-transparent-dark2);
  border-radius: 1em;
}

.weather .header {
  display: grid;
  place-content: center;
}

.weather .header div {
  margin: 0 0 1em 0;
}


.weather .row {
  display: grid;
  grid-auto-flow: column;
  place-content: center;
}

.others {
  padding: 0 1em;
}

.others .row {
  place-content: start;
}

.temperature {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.temperature > .row:last-child {
  display: grid;
  place-content: start;
  grid-template-rows: repeat(3,1fr);
  height: 100%;
  width: 100%;
}

.weather .tempRows {
  height: 100%;
  width: 8em;
  max-width: 100%;
  place-content: center start;
  white-space: nowrap;
  padding-left: 1em;
  grid-template-columns: auto 1fr;
}

.holo {
  width: 100%;
  display: grid;
  place-content: end;
}

.holo::after {
  content: attr(default-data);
}

.holo:hover::after {
 content: attr(hover-data);
}

.temperature .dataToolTip::after {
  bottom: 25%;
}

.wind {
  display: grid;
  grid-template-columns: auto 1fr;
}

#WindHolo {
  margin: 0;
}

.wind .icon {
  width: 4em;
  height: 4em;
  outline: 1px solid var(--color-transparent-dark3);
  border-radius: 9999em;
  box-shadow: 0 0 25px -20px var(--color-white) inset;
}

.wind .rowContainer:last-child {
  display: flex;
  flex-direction: column;
  place-content: center;
}

.wind .rowContainer:last-child .row {
  place-content: start;
}

.rowContainer > * + * {
  padding-top: 0.5em;
}

.weather .info * :not(.icon, .icon *) {
  margin: 0 0.3em;
}

.weather .footer {
  margin-top: 1em;
  display: grid;
  grid-template-columns: auto 1fr auto;
  place-content: center;
  text-align: center;
}

.weather .footer button {
  display: grid;
  font-size: 200%;
  text-align: center;
}

.timeBar {
  height: 100%;
  padding-left: 1em;
  border-left: 1px solid var(--color-main1);
  color: var(--color-main1);
  border-radius: 0 1em 1em 0;
  margin: 0.5em 0 0.5em 1em
}

.timeBar .dot::before {
  content: '';
  position: absolute;
  left: -0.75em;
  border: 0.25em solid currentColor;
  border-radius: 100% 100% 0%;
  transform: translateY(100%) rotateZ(-45deg);
}

.statics {
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: absolute;
  height: 100%;
  top: 0;
  padding: 0.1em 0;
}

.times > * {
  position: absolute;
}

.current {
  color: var(--color-accent1);
}

.icon {
  aspect-ratio: 1;
  width: 2em;
  display: grid;
  place-content: center;
}

.icon img {
  width: 100%;
  height: 100%
}

.icon.big {
  width: 8em;
  max-width: 8em;
}

.icon.tempDegs {
  font-size: 48px;
}

.icon.shortcutIcon {
  width: 4em;
  height: 4em;
  margin: auto;
  border-radius: 0.5em;
  background: transparent;
  transition: 0.2s;
}

.icon.navItem {
  width: 3.5em;
  height: 3.5em;
}

.icon.shortcutIcon:hover {
  background: var(--color-transparent-accent2);
  outline: 0.25em solid var(--color-transparent-accent2);
}

form {
  display: grid;
  grid-template-columns: 1fr auto;
  /* transform: translateX(calc(var(--bar-thickness) * -0.5)); */
  margin: 1em;
  background: var(--color-dark2);
  outline: 1px solid var(--color-black);
  outline-offset: -1px;
  border-radius: 999em;
  transition: outline 0.3s, box-shadow 0.3s;
  white-space: nowrap;
}

form:focus-within {
  outline: 1px solid var(--color-main2);
  box-shadow: 0 0 25px -10px var(--color-accent2);
}

form input[type="text"]::selection {
  color: var(--color-accent2);
  background: var(--color-white);
}

form input[type="text"],
form input[type="submit"] {
  padding: 1em;
  color: var(--color-transparent-white);
  border: none;
  outline: none;
  border-radius: 999em 0 0 999em;
  background: none;
  max-width: 30vw;
  font-size: 100%;
  transition: color 0.3s;
}
form input[type="text"]:is(:hover, :focus) {
  color: var(--color-white);
}

form input[type="submit"]:is(:hover, :focus) {
  color: var(--color-white);
}

#Slides {
  display: grid;
  grid-template-columns: repeat(var(--amount-of-slides),1fr);
  flex-wrap: nowrap;
  overflow-x: auto;
  position: relative;
  height: 100vh;
  padding: 1em;
  place-items: normal;
  user-select: none;
}

.slideshow * {
  user-select: none;
}

.slide {
  display: inline-block;
  flex: 0 0 auto;
  overflow-y: auto;
  min-width: max-content;
}

.slide > * {
  padding: 1em;
}

.slide * {
  font-size: 100%;
}

.slide .header {
  text-align: center;
  background: var(--color-transparent-dark2);
  backdrop-filter: blur(5px);
  outline: 1px solid var(--color-black);
  position: sticky;
  top: 0;
}

.slide .header * {
  display: inline-block;  
}

.slide .header span > span {
  font-weight: bold;
}

.dataToolTip::after {
  content: attr(data-tool-tip);
  position: absolute;
  bottom: 30%;
  font-size: clamp(10px, 0.7em, 20px);
  height: 0;
  transform: scale(0);
  opacity: 0.4;
  transition: 0.3s cubic-bezier(1, 0, 0, 1);
}

.dataToolTip:hover::after,
.dataToolTip:focus-within::after {
  content: attr(data-tool-tip);
  transform: scale(1);
}

.gameGrid {
  display: grid;
  gap: 1em;
  margin: 1em;
  background-color: var(--color-dark2);
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.gridHeader {
  display: flex;
  place-items: center;
  text-transform: uppercase;
}

.gridHeader::after,
.gridHeader::before {
  content: '';
  margin: 0 0.5em;
  width: 100%;
  padding: 0;
  border-bottom: 1px solid var(--color-accent1);
}


a.gameCard {
  display: flex;
  place-content: center;
  color: var(--color-white);
  text-decoration: none;
  min-width: 100%;
}

.gameCard img {
  place-content: center;
  text-align: center;
  outline: 1px solid var(--color-black);
}

.gameCard img:nth-child(odd) {
  width: 200px;
  min-width: 200px;
  min-height: 300px;
}

.gameCard img:nth-child(even) {
  min-width: 200px;
  min-height: 75px;
  width: 100%;
}

/*
Main Page content starts here 
*/

.page {
  min-height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
}


#Test::after{
  display: block;
  content: '';
  width: 100%;
  height: 35em;
  background: transparent url("http://localhost:3000/testt.svg") no-repeat center bottom;
}

.content {
  padding: 1em;
  display: grid;
  place-items: start;
  word-wrap: break-word;
}

.header {
  display: grid;
  place-items: start center;
  height: min-content;
  text-transform: uppercase;
}

/*
navigation styles start here 
*/

.bar {
  display: flex;
  position: relative;
  background-color: var(--color-dark2);
  outline: 1px solid var(--color-black);
  height: var(--bar-thickness);
  width: 100%;
  z-index: 100;
  justify-content: space-between;
}

.extend {
  position: absolute;
  background: var(--color-transparent-black);
  opacity: 0;
  top: var(--bar-thickness);
  width: 1vw;
  transition: 0.2s;
  outline: 1px solid var(--color-black);
}

.extend > div {
  height: 100%;
  display: grid;
}

.bar:hover .extend {
  opacity: 1;
  height: 30ch;
}
.bar:hover .extend .navItem {
  display: grid;
}

.list {
  display: flex;
  place-content: center;
  height: inherit;
  width: 50ch;
}

/* .list:hover {
  background: var(--color-dark1);
  outline: 1px solid var(--color-black)
} */

.navItem {
  width: 17.5ch;
  /* height: 0; */
  display: grid;
  place-content: center;
  padding: 0;
  position: relative;
  color: var(--color-white);
  text-decoration: none;
  transition: background 0.2s, height 0.2s;
}

.listTop .dropDown {
  left: 0;
  right: unset;
}
.listBottom .dropDown {
  left: unset;
  right: 0;
}
.listBottom {
  place-content: end;
}

.list .navItem:hover {
  background: var(--color-transparent-dark1);
  outline: 1px solid var(--color-transparent-black);
}

/* .list:hover .navItem{
  height: var(--bar-thickness);
  display: grid;
  background: var(--color-transparent-black);
  padding: 0.5em 1em;
  outline: 1px solid var(--color-black);
  backdrop-filter: blur(5px);
  left: inherit;
} */

/* .navItem::before {
  content: '';
} */

/* .list:hover .navItem::before {
  content: attr(text);
} */

.dropDown .navItem:hover {
  display: grid;
  background: var(--color-transparent-main2);
  outline: 1px solid var(--color-black);
  backdrop-filter: blur(5px);
}

.dropList {
  position: absolute;
  top: 4em;
  left: inherit;
  right: inherit;
}

.bar .logo {
  display: grid;
  place-content: center;
}

/*
drag/scrollbar styles
*/

.drag {
  scrollbar-width: none;
}

.drag::-webkit-scrollbar {
  width: 0;
}


/*
Chart styles
*/

.chart {
  background: var(--color-black);
  outline: 1px solid var(--color-main2);
  border-radius: 2em;
  box-shadow: 0 0 25px -10px var(--color-accent2);
  padding: 2em;
  min-width: 500px;
  min-height: 15em;
  margin: 2em auto;
}

.chart .row {
  border-top: 1px solid var(--color-dark1);
  padding: 0.25em 0;
}

.row {
  display: flex;
  flex-direction: row;
  place-items: center;
  position: relative;
}


.chartContent {
  display: inline-block;
  position: relative;
  height: 1em;
  margin-right: 0;
  outline: 1px solid var(--color-dark2);
  border-radius: 0.25em;
  z-index: 2;
}

.label {
  margin: 0 1em 0 0.5em;
  width: 15ch;
  text-transform: uppercase;
  transition: margin 0.3s, color 0.3s;
}

.label::after { /* chart content highlighter */
  content: '';
  position: absolute;
  height: 1.5em;
  width: 0;
  background: var(--color-accent2);
  opacity: 0;
  left: calc(15ch + 1em);
  top: calc(50% - 0.75em);
  transition: width 0.5s, opacity 0.5s;
  border-radius: 0.5em;
  z-index: 1;
}

.row:hover .label::after  { /* chart content highlighter */
  width: calc(100% - 15ch - 0.5em);
  opacity: 0.1;
}

.chartList .row:hover > .label { /* label highlighter */
  margin: 0 0.75em 0 0.75em;
  opacity: 1;
}

.chartList:hover .label { /* label highlighter */
  opacity: 0.5;
}

.chart .buttonRow {
  display: flex;
  font-size: 1.5em;
  justify-content: center;
  border-bottom: 1px solid var(--color-dark1);
}

.chart .buttonRow button {
  outline-offset: -5px;
}